* {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    overflow: hidden;
    /* background-color: black; */
  }
  
  .webgl {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  /*
  .fadeDiv{
    background-color: black;
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
  }
*/